<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meteo App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header>
    <h1>Wyszukiwarka danych pogodowych</h1>
    <form id="dataForm">
        <label for="start_date">Data początkowa:</label>
        <input type="date" id="start_date" name="start_date" required>
        <label for="end_date">Data końcowa:</label>
        <input type="date" id="end_date" name="end_date" required>
        <label for="woj">Województwo:</label>
        <select name="woj" id="woj">
            <option value="" selected="selected">Wybierz województwo</option>
        </select>
        <label for="pow">Powiat:</label>
        <select name="pow" id="pow">
            <option value="" selected="selected">Wybierz powiat</option>
        </select>
        <!---->
        <label for="czynnik">Czynnik:</label>
        <select name="czynnik" id="czynnik">
            <option value="" selected="selected">Wybierz czynnik</option>
        </select>
        <label for="agg_freq">Agregacja:</label>
        <select name="agg_freq" id="agg_freq">
            <option value="" selected="selected">Okres</option>
        </select>
        <label for="agg_val">Typ agregacji:</label>
        <select name="agg_val" id="agg_val">
            <option value="" selected="selected">Typ</option>
        </select>
        <label>Pora dnia:</label><br>
        <input type="checkbox" id="n" name="tod" value="n" checked>
        <label for="n">Noc</label><br>
        <input type="checkbox" id="d" name="tod" value="d" checked>
        <label for="d">Świt</label><br>
        <input type="checkbox" id="m" name="tod" value="m" checked>
        <label for="m">Przedpołudnie</label><br>
        <input type="checkbox" id="a" name="tod" value="a" checked>
        <label for="a">Popołudnie</label><br>
        <input type="checkbox" id="e" name="tod" value="e" checked>
        <label for="e">Wieczór</label><br>
        <!---->
        <button type="submit">Szukaj</button>
    </form>

    <br/>
</header>

<section>
    <nav>
        <h2>Wyniki</h2>
        <iframe name="plot_frame"></iframe>
    </nav>

    <article>
        <h2>Mapa stacji w powiecie</h2>
        <div id="map"></div>
    </article>
</section>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>
